*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"Noto+Sans+KR",sans-serif ;
  font-family: "Montserrat";



  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.modal {
  font-size: 12px;
  border-radius: 10px;
}
.modal > .header {
  width: 100%;
  /* border-bottom: 1px solid gray; */
  font-size: 18px;
  /* text-align: center; */
  align-items: center;
  padding: 5px;

}
.content{
  padding:100px;
  background-color: rgb(106, 113, 123);
}
.modal > .content {
  /* width: 100%; */
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 10px;
  top: 10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  /* width: 50%; */
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.9);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

/* nextpopup */






.map{
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(5, 0, 0, 0.4);

  
    }



@media only screen and (max-width: 700px) {
  .popup-content {
    /* border-radius: 100px; */
    margin: auto;
    background: rgb(255, 255, 255);
    width: 70%;
    padding: 5px;
  }
  
}



@import url( "https://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=e49611d442be90c7ec3aef4e29cc18ac");